<!DOCTYPE html>
<html>
	<head>
		<title>My App</title>
		<script src="https://www.gstatic.com/firebasejs/3.1.0/firebase.js"></script>
		<script>
		var config = {
    apiKey: "AIzaSyBAo2ikrt0ngAgK9GsoZUs2j4JA9_ftWDs",
    authDomain: "sweaca-nursery.firebaseapp.com",
    databaseURL: "https://sweaca-nursery.firebaseio.com",
    projectId: "sweaca-nursery",
    storageBucket: "sweaca-nursery.appspot.com",
    messagingSenderId: "1018808263607"
  };

firebase.initializeApp(config);
		</script>
	</head>
	<body>
		<h1>My App</h1>
		<p>Login With Firebase</p>
		<h3 id="google-displayName"></h3>
		<img id="google-pic" src="" />
		<p id="google-email"></p>
			<button id="gone" onclick={signInWithGoogle()}>
			Sign In With Google
			</button> 
			<script>
				function checkIfLoggedIn(){
					if(localStorage.getItem('firebase_idToken')){
						document.getElementById('gone')
						.setAttribute('style', 'display: none; visibility: hidden;')
						document.getElementById('google-pic')
						.setAttribute('src',localStorage.getItem('google_photo'))
					}
					else{
						document.getElementById('gone')
						.setAttribute('style', 'display: inline-block; visibility: visible')
					}
				}
				checkIfLoggedIn()
				function signInWithGoogle(){
				var googleAuthProvider= new firebase.auth.GoogleAuthProvider

				firebase.auth().signInWithPopup(googleAuthProvider)
				.then(function(data){
					console.log(data);
					// var myName = data.user.displayName
					var photoURL = data.user.photoURL
					// document.getElementById('google-pic')
					// 	.setAttribute('src', photoURL)
					// document.getElementById('google-displayName')
					// 	.innerHTML = myName

					var idToken = data.credential.idToken
					localStorage.setItem('firebase_idToken', idToken)
					localStorage.setItem('google_photo', photoURL) 
					
					document.getElementById('google-pic')
							.setAttribute('src', photoURL)
					// document.getElementById('google-displayName')
					// .innerHTML = myName
					// document.getElementById('gone')
					// 		.setAttribute('style', 'display: none; visibility: hidden;')
				})
				.catch( function(error){
					console.log(error);
				})
			}
		</script>
	</body>
</html>